<div>
    <table style="border-spacing: 10px 5px;">
        <tr>
            <td>${opt1}</td>
            <td>    <div data-dojo-type="dijit/form/Button" data-dojo-attach-event="click: click1" class="primary">starten</div></td>
            <td><div data-dojo-type="dijit/ProgressBar" class="success" data-dojo-props="maximum:10" data-dojo-attach-point="pg1" style="width:100px"></div> </td>
        </tr>
        <tr>
            <td>${opt2}</td>
            <td>    <div data-dojo-type="dijit/form/Button" data-dojo-attach-event="click: click2" class="primary">starten</div></td>
            <td><div data-dojo-type="dijit/ProgressBar" class="success" data-dojo-props="maximum:10" data-dojo-attach-point="pg2" style="width:100px"></div> </td>
        </tr>
        <tr>
            <td>${opt3}</td>
            <td>    <div data-dojo-type="dijit/form/Button" data-dojo-attach-event="click: click3" class="primary">starten</div></td>
            <td><div data-dojo-type="dijit/ProgressBar" class="success" data-dojo-props="maximum:10" data-dojo-attach-point="pg3" style="width:100px"></div> </td>
        </tr>
    </table>
</div>