<div class="${baseClass}">
    <div style="float:left;margin:10px;width:600px;height: 550px;">    <div data-dojo-attach-point="w0"></div>    </div>
    <div style="float:left;margin:10px;">    <div data-dojo-attach-point="w1"></div>    </div>
    <div style="width:600px;float:left;margin:10px;">  <div data-dojo-attach-point="w2"></div>    </div>
   <div style="float:left;width:700px;margin:10px;"><div data-dojo-attach-point="w3" ></div> </div>
    <div style="float:left;margin:10px;"> <div data-dojo-attach-point="w4"></div>    </div>
    <div style="float:left;margin:10px;width:500px;">  <div data-dojo-attach-point="w5"></div>         </div>
    <div style="float:left;margin:10px;"> <div data-dojo-attach-point="w6"></div>        </div>
    <div style="float:left;margin:10px;width:500px;">  <div data-dojo-attach-point="w7"></div>         </div>
    <div style="float:left;margin:10px;">  <div data-dojo-attach-point="w8"></div>         </div>
	<div style="float:left;margin:10px;width:600px;height:500px;" >  <div data-dojo-attach-point="w10"></div>         </div>
	<div style="float:left;margin:10px;width:600px;height:500px;" >  <div data-dojo-attach-point="w11"></div>         </div>
</div>
