.DijitRegistryPane
  position: absolute;
  top:0px;
  right: 0px;
  z-index:9999999;
  background-color: white;
  padding: 20px;
  height: 400px;
  width: 500px;
  overflow: auto;
  box-shadow: 1px 1px 10px 1px gray;
  .errorMax
    color:red;
  .error
    background-color red
    color: white
