$portal-footer-background = #369
$portal-footer-color = white

.app
  min-width: 100%;
  min-height: 100%;
  .ViewStack
    margin 10px;
  .app-footer
    height 40px;
    background $portal-footer-background
    color $portal-footer-color
    &.dijitContentPane
      padding 0 15px