$backgroundColor = #f7f7f7
$color = #369

.IconDock
  color:$color
  background-color:$backgroundColor
  .DockNode
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    &:hover
      color:$backgroundColor
      background-color:$color
