.MessageBar
    .msgAlert .alert
        padding: 8px 14px 8px 14px;
        border-radius: 2px;
        margin-bottom 1px;
        .alertContent
            padding-right 20px;
        .fa-close
            cursor pointer
            float:right;
            line-height: 20px;