.clock {
  .dateTimeContainer {
    overflow-y:hidden;
    overflow-x:auto;
    margin:auto;
    padding: 1em 2em;
  }
  .divDate {
    font-size:2em;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
    white-space: nowrap;

    color: #336699;
  }
  .divTime {
    font-size:3em;
    text-align: center;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
    white-space: nowrap;

    color: #336699;

  }
}

.clockBasic {
  .dateTimeContainer {
    overflow-y:hidden;
    overflow-x:auto;
    background-color: #f6f6f6;
    border: "1px solid black";
  }
  .divDate {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
    white-space: nowrap;
    text-shadow:4px 4px 5px #333333;
    color: #000000;
  }
  .divTime {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
    white-space: nowrap;
    text-shadow:4px 4px 5px #333333;
    color: #000000;

  }
}

.clockFancy {
  .dateTimeContainer {
    overflow-y:hidden;
    overflow-x:auto;
    background-color: #302b23;
    border: "1px solid black";
  }
  .divDate {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
    white-space: nowrap;
    text-shadow:4px 4px 5px #333333;
    color: #b8860b;
  }
  .divTime {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
    white-space: nowrap;
    text-shadow:4px 4px 5px #333333;
    color: goldenrod;

  }
}

.credits{
  font-size:0.7em;
  color:#909090;
}
