.TsEditor
  .dijitAccordionText
    i.editedIcon
      cursor help
      position absolute
      right 10px
      font-size 1.2em
  .chartPane
    margin-right 10px;
  .gridPaneContainer
    width 400px;
    .gridPane
      .addRow
        margin 10px
        float left
        cursor pointer
        color #369
      .field-x
        width 140px;
      .valueField
        text-align right;
      .dgrid-no-data
      .dgrid-loading
        font-size 14px;
      .dropArea
        margin 5px 0px;
        height: 35px;
        line-height:40px;
        font-size: 25px;
        text-align: center;
        color:lightgrey;
        border: 2px lightgrey dashed;
        &.filehover
          border-color: #0c0 !important;
  .dijitBorderContainer .dijitSplitterV .dojoxToggleSplitterIcon
    outline none