// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.yeti .dijitSpinnerButtonContainer.dijitButtonNode {
    @extend .yeti .dijitComboBox .dijitButtonNode;
    @extend .yeti .dijitComboBox .dijitButtonNode.dijitArrowButton;
}

.yeti .dijitSpinnerDisabled .dijitButtonNode {
    @extend .yeti .dijitComboBoxDisabled .dijitButtonNode;
}

.dj_webkit .yeti .dijitSpinnerButtonContainer.dijitButtonNode {
    padding: 4px 10px !important
}
