// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// General
.yeti .dijitEditor {
    border: 1px solid $navbarBorder;
}

.yeti .dijitEditorDisabled {
    opacity: 0.65;
}
