// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// Menu bar
.yeti .dijitMenuBar {
    overflow: visible;
    margin-bottom: $baseLineHeight;
    color: $navbarText;
    padding-left:  20px;
    padding-right: 20px;
    background-image: $navbarBackgroundImage;
    background-color: $navbarBackground;
    border: 1px solid $navbarBorder;
    border-radius: $btnBorderRadius;
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.yeti .dijitMenuBar .dijitMenuItem {
    color: $navbarLinkColor;
    padding: (($navbarHeight - $baseLineHeight) / 2) 15px (($navbarHeight - $baseLineHeight) / 2);
    text-shadow: 0 1px 0 $navbarBackgroundHighlight;
}

.yeti .dijitMenuBar .dijitMenuItemHover {
    color: $navbarLinkColorHover;
    background-image: none;
    background-color: $navbarLinkBackgroundHover;
}

.yeti .dijitMenuBar .dijitMenuItemActive,
.yeti .dijitMenuBar .dijitMenuItemSelected {
    color: $navbarLinkColorActive;
    text-decoration: none;
    background-image: none;
    background-color: $navbarLinkBackgroundActive;
    box-shadow: inset 0 3px 8px rgba(0,0,0,.125);
}

.yeti .dijitMenuBar .dijitMenuItemDisabled {
    color: $navbarLinkColor;
    box-shadow: none;
    background-color: transparent;
}

// Brand
.yeti .dijitMenuBar .brand {
    font-weight: 200;
    color: $navbarBrandColor;
    text-shadow: 0 1px 0 $navbarBackgroundHighlight;
    font-size: ($baseFontSize * 1.5);
    padding: 10px;
    display: inline;
    vertical-align: middle;
}

// Primary menu
.yeti .dijitMenuBar.primary {
    border-radius: 0px;
    margin-bottom: 5px;
}

// Menu bar inverse colour
.yeti .dijitMenuBar.inverse {
    color: $navbarInverseText;
    background-image: $navbarInverseBackgroundImage;
    background-color: $navbarInverseBackground;
    border-color: $navbarInverseBorder;
}

.yeti .dijitMenuBar.inverse .dijitMenuItem {
    color: $navbarInverseLinkColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.yeti .dijitMenuBar.inverse .dijitMenuItemHover {
    background-color: $navbarInverseLinkBackgroundHover;
    color: $navbarInverseLinkColorHover;
}

.yeti .dijitMenuBar.inverse .dijitMenuItemActive,
.yeti .dijitMenuBar.inverse .dijitMenuItemSelected {
    color: $navbarInverseLinkColorActive;
    background-color: $navbarInverseLinkBackgroundActive;
    box-shadow: inset 0 3px 8px rgba(255,255,255,.125);
}

.yeti .dijitMenuBar.inverse .dijitMenuItemDisabled {
    color: $navbarInverseLinkColor;
}

.yeti .dijitMenuBar.inverse .brand {
    color: $navbarInverseBrandColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

// Menu
.yeti .dijitMenu {
    z-index: $zindexDropdown;
    padding: $menuPadding 0;
    margin: $menuMargin 0 0; // override default ul
    background-color: $dropdownBackground;
    border: 1px solid #ccc; // Fallback for IE7-8
    border: 1px solid $dropdownBorder;
    border-radius: $popoverBorderRadius;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-collapse: separate;
}

.yeti .dijitMenuItem {
    font-weight: normal;
    color: $dropdownLinkColor;
    white-space: nowrap;
    padding: 6px 20px;
}

.yeti .dijitMenuItemHover {
    text-decoration: none;
    color: $dropdownLinkColorHover;
    background-color: $dropdownLinkBackgroundHover;
    background-image: $dropdownLinkBackgroundImage;
}

.yeti .dijitMenuItemSelected {
    @extend .yeti .dijitMenuItemHover;
}

.yeti td.dijitMenuItemLabel {
    padding: 6px 0.3em;
}

.yeti tr.dijitMenuItem td:first-child {
    padding-left: 20px;
}

.yeti tr.dijitMenuItem td:last-child {
    padding-right: 20px;
}

// Separator
.yeti .dijitMenuSeparator {
    margin: (($baseLineHeight / 2) - 1) 1px;
}

.yeti .dijitMenuSeparatorTop {
    border-bottom: 1px solid $dropdownDividerTop;
    height: auto;
}

.yeti .dijitMenuSeparatorBottom {
    height: auto;
}

// Icon
.yeti .dijitMenuItemIcon,
.yeti .dijitMenuExpand  {
    // Keep in line with labels
    line-height: $baseLineHeight * 0.65;
}

.yeti .dijitMenuArrowCell .dijitMenuExpand:before {
    @extend .dijitIcon:before;
    @extend .icon-caret-right:before;
}

// Menu inverse colour
.yeti .dijitMenu.inverse {
    background-color: $navbarInverseBackground;
    border-color: $navbarInverseBorder;
}

.yeti .dijitMenu.inverse .dijitMenuItem {
    color: $navbarInverseLinkColor;
}

.yeti .dijitMenu.inverse .dijitMenuItemHover {
    color: $navbarInverseLinkColorHover;
    background-color: $navbarInverseLinkBackgroundHover;
}

.yeti .dijitMenu.inverse .dijitMenuItemSelected {
  @extend .yeti .dijitMenu.inverse .dijitMenuItemHover;
}

.yeti .dijitMenu.inverse .dijitMenuSeparatorTop {
    border-color: $navbarInverseBorder;
}