.SampleTemplateView
    background grey;
    .left-panel
      display inline-block;
      width 30%;
      float right;
      background gainsboro
    .right-panel
      display inline-block;
      width 60%;
      float left;
      background gainsboro