.setting-dialog
    .setting-form
      display table
      padding: 10px;
      border-collapse:separate;
      border-spacing: 5px;
      .form-field
         display table-row
         .form-label
           display table-cell
         .form-input
           display table-cell