.app-view
  .breadCrumb
    padding 10px 0;
    span
      vertical-align middle
      i
        padding 0 5px
    span.root
      font-size 2em
  .gridContainerTable
    border 0

  @import 'TitleBar'
  .title-bar
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
  >.instance-container
    height 100%;